.container-top {
    position: relative;
  }
  
  .cont-top {
    width: 100%;
    height: 93vh;
  }
  .join-btn {
    
    margin: 10px 5px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    height: 7vh;
    font-size: 2.7vmin;
    background-color: #285430;
}

.join-btn:hover{
color:#285430;
background-color: #A4BE7B;
}

.quote-top{
  margin:10px;
  padding:10px;
}

h2{
    padding:10px;
}

.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px; 
  }
  
  .text-overlay h2 {
    margin: 0;
    font-size: 24px;}
  
.feature-cont{

    display:flex;
    padding:30px;
}    
.feature{
    padding:40px; 
    margin-left:15px;
    border-radius:10px;
    background-color: #A4BE7B;
    color:#285430;

}
.feature:hover{
  background: url('../Images/leafbg.png') ;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.num{
    font-size:40px;
    font-weight:bold;
    color:#fff;
    background-color: #285430;
    border-radius:50%;
    height:60px;
    width:60px;
    padding:6px;
    margin:10px;
}